# rename this file to .env and supply the values listed below
# also make sure they are available to the build tool (e.g. netlify)
# warning: variables prexifed with GATSBY_ will be made available to client-side code,
# be careful not to expose sensitive data

GATSBY_ALGOLIA_APP_ID=<INSERT_YOUR_VALUE>
GATSBY_ALGOLIA_SEARCH_KEY=<INSERT_YOUR_VALUE>
ALGOLIA_ADMIN_KEY=<INSERT_YOUR_VALUE>

GOOGLE_ANALYTICS_ID=<INSERT_YOUR_VALUE>
GATSBY_GOOGLE_MAPS_API_KEY=<INSERT_YOUR_VALUE>

GATSBY_DISQUS_NAME=<INSERT_YOUR_VALUE>
